.login {
  height: 100%;
  width: 100%;
  background-image: url("https://img.freepik.com/free-vector/realistic-style-technology-particle-background_23-2148426704.jpg?size=626&ext=jpg&ga=GA1.1.735520172.1710374400&semt=ais");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.register {
  height: 100%;
  width: 100%;
  background-image: url("https://img.freepik.com/free-vector/realistic-style-technology-particle-background_23-2148426704.jpg?size=626&ext=jpg&ga=GA1.1.735520172.1710374400&semt=ais");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
